// app global css in SCSS form
h1,
.text-h1 {
  font-size: 2em;
}

h2,
.text-h2 {
  font-size: 1.8em;
}

h3,
.text-h3 {
  font-size: 1.7em;
}

h4,
.text-h4 {
  font-size: 1.5em;
}

h5,
h6,
.text-h5,
.text-h6 {
  font-size: 1.3em;
}

body {
  background-color: $dark;
  color: $light;
}

.my-decent-text {
  color: $decent;
}

.my-small-text {
  font-size: 0.3em;
}

.my-decent-bg {
  background-color: $decent;
}

.my-main-btn {
  background-color: $primary;
  opacity: 0.9;
  width: 220px;
  font-size: 1.2em;
  // rounded corners
  border-radius: 10px;
}

.my-action-item {
  background-color: rgba(0, 128, 0, 0.09);
  color: $positive;
}

.my-pause-item {
  background-color: rgba(255, 0, 0, 0.08);
  color: $negative;
}

.my-popup-card {
  height: 150px;
  min-width: 350px;
  width: 300px;
  background-color: $dark;
  color: $light;
}
